@media screen and (max-width:576px) {
    .nav-bar,
    .nav-right-side ul,
    .nav-right-side
    {
        flex-direction: column;
        gap: 1.5rem;
    }

    .banner-1{
        display: flex;
        flex-direction: column-reverse;
    }
}





@media screen and (min-width:577px), (max-width:996px){


}