*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family: 'Work Sans', sans-serif;
}

:root{
    --large-font-size: 5rem;
    --medium-large-font-size: 2.5rem;
    --logo-font-size: 2.2rem;
    --medium-small-font-size: 1rem;
    --small-font-size: 0.9rem;
    --smallest-font-size: 0.8rem;
    --primary-color: #FF42A5;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.follow-us-box img{
    width: auto;
    height: 24px;
}

.follow-us-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 7px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.nav-right-side{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right-side ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-right-side ul li a{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    height: 25px;
    width: auto;
}

.logo h2{
    text-align: center;
    font-family: Work Sans;
    font-size: var(--logo-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#letter-g{
    color: var(--primary-color);
}



.text-box-1 h1{
    text-align: center;
    font-family: Work Sans;
    font-size: var(--large-font-size);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-box-1 h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: var(--medium-large-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.text-box-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin-top: 50px;
    
}

.banner-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 120px;
    height: 100%;
}

.banner-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-box{
    display: flex;
    gap: 1rem;
}

.button-1{
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.button-1 a{
    color: #FFF;
    font-family: Work Sans;
    font-size: var(--medium-small-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.button-2{
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
}

.button-2 a{
    color: #FFF;
    font-family: Work Sans;
    font-size: var(--medium-small-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


/* this is the second section */

.second-section{
    padding: 30px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text-box-2{
    text-align: center;
}

.text-box-2 h2{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: var(--medium-large-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-box-2 h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: var(--medium-large-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-box-2 p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.card-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}



.card {
    position: relative;
    width: auto;
    min-height: 300px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .card:hover {
    background-color: #ddd;
    border: 2px solid #FF42A5;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card:hover .effect {
    opacity: 1;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-image: url(Images/play\ button.png);
    background-position: center;
    background-size: contain;
  }
  
.box p{
    color: #534C64;
    font-family: Work Sans;
    font-size: var(--medium-small-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
}


/* This is the third section */

.third-section{
    padding: 50px 120px 50px 250px;
}

.text-box-3 h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: var(--medium-large-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.text-box-3 h2 span{
    text-align: right;
    font-family: Work Sans;
    font-size: var(--medium-large-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-box-3 p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.text-box-3{
    text-align: right;
}

.banner-image-2{
    position: relative;
}

.b-img-1{
    max-height: 350px;
}

.b-img-2{
    position: absolute;
    top: 60%;
    right: 70%;
    height: 190px;
}

.banner-2{
    display: flex;
    justify-content: space-between;
}

/* This is the fourth section */

.option{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 5px;
}

.option:hover{
    border: 2px solid #F948B2;
    border-radius: 50px;
    color: #F948B2;
}

.fourth-section-contents{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.fourt-section{
    padding: 50px 120px;
    background-color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
}

.fourth-section-contents a{
    color: #0B0223;
    font-family: Work Sans;
    font-size: var(--medium-small-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* This is the footer section */

.footer-section{
    background-color: #0B0223;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 50px 120px;
}

.footer-list-1, .footer-list-2 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.f-b-1, .f-b-2, .f-b-3, .f-b-4 {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.a-1{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: var(--small-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.a-2{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: var(--smallest-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.footer-section p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: var(--smallest-font-size);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-box{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon-b-1, .icon-b-2{
    display: flex;
    gap: 2rem;
}
